.root {
    font-family: 'Source Sans Pro', sans-serif !important;
}

h1 {
    text-align: center;
    font-size: 40px !important;
    font-family: 'Source Sans Pro', sans-serif !important;
}

.container {
    padding: 20px;
}

/* FORM */
.member-form {
    width: 50%;
    margin: 0 auto;
    margin-top: 50px;
}

.ui.olive.button {
    float: right;
}

/* MEMBERS LIST */
.members-list {
    margin: 40px;
    padding-top: 20px;
}

.ui.icon.button {
    float: right;
}

.ui.icon.button:hover {
    background-color: #f6bfba;
}

.ui.striped.table {
    width: 70%;
    margin: 0 auto;
    font-size: 15px;
}

h3 {
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif !important;
}

.ui.large.message {
    text-align: center;
    width: 60%;
    margin: 0 auto;
}

@media (max-width: 768px) {
    .ui.icon.button {
        position: relative;
        bottom: 45px;
    }
}